@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0.5rem);
  }
}

@media print {
  @page {
    size: auto;
    margin: 5mm;
  }
  body {
    margin: 0;
    padding: 0;
    background: #fff;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  body * {
    visibility: hidden;
  }
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: 17cm !important;
    margin: 0 auto !important;
    padding: 14px !important;
    box-sizing: border-box !important;
    border: 3px solid #000 !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: #fff !important;
  }
  .no-print {
    display: none !important;
  }
}

